.banner-section-1 .banner-img-hover {
  overflow: hidden;
}

.banner-section-1 .banner-img-hover img {
  transition: 0.5s ease;
}

.banner-section-1 .banner-img-hover:hover img {
  transform: scale(1.1);
}

