.news-latter-part1 h6 {
  font-size: 18px;
}

.news-latter-part1 p {
  font-size: 15px;
}

.news-latter-part2 p {
  font-size: 16px;
  line-height: 34px;
}

.main-section-footer h5 {
  font-size: 15px;
  border-bottom: 3px solid aqua;
  padding: 10px;
  display: inline-flex;
}

.news-latter-part3 button input {
  outline: none;
}

footer a {
  color: white;
}

.footer-nav-custom li a:hover {
  color: aqua;
  margin-right: 20px;
}

.footer-nav-custom li i {
  vertical-align: -1px;
}

.footer-nav-custom li a {
  font-size: 14px;
  transition: 0.5s ease;
}

.support-rules i {
  font-size: 20px;
  color: #fff;
  vertical-align: 12px;
  transition: 0.5s ease;
  cursor: pointer;
}

.support-tel a {
  font-size: 12px;
  display: block;
  color: #fff;
  transition: 0.5s ease;
}

.support-tel a:hover,
.support-rules i:hover {
  color: aqua;
}

.support-tel p {
  font-size: 12px;
}

.social-media-icon p {
  font-size: 12px;
  white-space: nowrap;
}

.social-media-icon i {
  font-size: 20px;
  color: white;
  vertical-align: -1px;
  transition: 0.5s ease;
}

.social-media-icon i:hover {
  color: aqua;
}
