.login i {
  font-size: 18px;
}

.login span {
  font-size: 14px;
  margin-right: 8px;
  vertical-align: 3px;
}

#login-form input[type=email], #login-form input[type=password] {
  border: none;
  border-bottom: 2px solid #efefef;
  border-radius: 0;
  margin-top: -15px;
  padding-top: 20px;
}

#login-form label {
  font-size: 16px;
}

#login-form h5 {
  font-size: 18px;
}

#login-form .modal-footer a {
  color: rgb(34, 82, 207);
  font-size: 14px;
  margin-top: -5px;
}

#login-form .modal-body .custom-control label {
  font-size: 12px;
}

#exampleInputEmail1::-webkit-input-placeholder,
#exampleInputPassword1::-webkit-input-placeholder {
  font-size: 10px;
  transition: 0.5s ease;
}

#exampleInputEmail1:focus::-webkit-input-placeholder,
#exampleInputPassword1:focus::-webkit-input-placeholder {
  color: rgb(34, 82, 207);
  font-size: 11px;
}
