.custom-breadcrumb {
  font-size: 14px;
  background-color: #f3f0f0;
  margin: 0;
}

.offer-rating {
  color: rgb(204, 179, 37);
  font-size: 14px;
}

.offer-rating span {
  font-size: 16px;
  color: firebrick !important;
}

.offer-price span {
  vertical-align: -1px;
}

.about-product {
  line-height: 28px;
}

.fa-heart, .fa-share-alt, .fa-bell {
  transition: 0.5s ease;
}

.fa-heart:hover {
  color: red;
}

.fa-share-alt:hover {
  color: blue;
}

.fa-bell:hover {
  color: green;
}

.product-benefits li {
  font-size: 12px;
}

.brand-cat {
  font-size: 16px;
}

.brand-cat a span {
  transition: 0.5s ease;
}

.brand-cat a span:hover {
  background-color: #232f3e;
}
