.slider-1-women-cloth img,
.slider-1-home-appliances img,
.slider-1-mobiles img {
  width: 640px !important;
  height: 359px !important;
}

.slider-2-xbox-series-x img {
  width: 358.59px !important;
  height: 358.59px !important;
}
.custom-col-md-3 {
  flex: 0 0 29%;
  max-width: 29%;
}

.custom-col-md-6 {
  flex: 0 0 29%;
  width: 50%;
}