.custom-nav-tabs .nav-link {
  border: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  color: rgb(66, 58, 58);
}

.custom-nav-tabs .nav-link.active,
.custom-nav-tabs .nav-item.show .nav-link {
  color: #ee441e;
  background-color: transparent;
  border-color: transparent;
}

.custom-nav-tabs .nav-link:hover,
.custom-nav-tabs .nav-link:focus {
  border-color: #e9ecef #e9ecef #dee2e6;
}

.offer-details a {
  color: rgb(0, 0, 255);
  font-size: 16px;
}

.offer-details .offer-rating i {
  color: rgb(204, 179, 37);
  font-size: 15px;
}

.offer-details .offer-price span,
.offer-details .count-down-timer p {
  font-size: 15px;
  color: #565555;
}

.offer-details .count-down-timer p {
  font-size: 16px;
}

.offer-details .offer-price s {
  color: red;
  margin-left: 14px;
  font-size: 12px;
}

.offer-details .count-down-timer #demo span {
  padding: 10px;
}

.offer-expire-text {
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  font-size: 20px;
  justify-content: center;
  align-items: center;
}

.offer-expire-text .offer-expire-text-inner {
  background-color: rgb(224, 14, 14);
  font-size: 14px;
  padding: 10px;
  color: #fff;
  border-radius: 5px;
}
.date-offer-time div {
  margin-left: 90px;
}
.date-offer-timer span {
  padding: 10px;
  font-size: 10px;
  margin-left: -2px;
}

.s-o-box-shadow {
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.title-offer {
  right: 0;
  border-bottom: 2px solid red;
  padding: 3px;
  font-size: 20px;
}
